<h1><strong>Pré-vendas</strong></h1>
<h3 class="text-dark"><i>{{anuncio}}</i>💸</h3>
<br />
<div class="row">
  <div class="col">
    <app-card-produto
    foto="https://images-na.ssl-images-amazon.com/images/I/51j6RikszNL._SX340_BO1,204,203,200_.jpg"
    nomeProduto="Mao - Vol. 1 "
    [idProduto]="1"
    dataValidade="2021-12-20"
    [precoProduto]="29.48"
  ></app-card-produto>
  </div>

  <div class="col">
    <app-card-produto
    foto="https://images-na.ssl-images-amazon.com/images/I/51wtQibMd+L._SY344_BO1,204,203,200_.jpg"
    nomeProduto="Kamen Rider - Vol. 1"
    [promocao]="true"
    [idProduto]="5"
    dataValidade="2021-12-20"
    [precoProduto]="34.90"
  ></app-card-produto>
  </div> <!-- .col -->

  <div class="col">
    <app-card-produto
    foto="https://images-na.ssl-images-amazon.com/images/I/5194hGDzKDL._SX327_BO1,204,203,200_.jpg"
    nomeProduto="Haikyu! - Vol. 01 "
    [idProduto]="4"
    dataValidade="2021-12-20"
    [precoProduto]="39.90"
  ></app-card-produto>
  </div>
</div> <!-- .row -->
