<!-- Cabeçalho -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><i>🉐MeuMangáAqui</i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white bg-dark text-white rounded" routerLink="/">Mangás Populares</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-white bg-dark text-white rounded" routerLink="/produtos/pre-vendas">Pré-Vendas</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white bg-dark text-white rounded" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mangás
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/produtos">Listar Mangás</a>
          <a class="dropdown-item" routerLink="/produtos/cadastrar">Cadastrar Mangás</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-2.5">
      <input class="form-control mr-sm-2" type="search" placeholder="Qual mangá você que ler ?" aria-label="Search">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>
