<!-- Título -->
  <h1>Seja bem vindo ao curso de Angular!</h1>

<!-- Alert - cor azul -->
<!-- <div class="alert alert-primary" role="alert">
  Cursando Desenvolvimento de Sistemas - 2°Modulo
</div> -->

<!-- Linha -->
<div class="row">
    <!-- Começo Coluna -->
    <div class="col">

      <!-- Criando Card Bootstrap -->
      <div class="card">
        <div class="card-body">
          <img class="img-fluid" src="assets/img/logo_horacio.png">
        </div>  <!-- .card-body -->
      </div> <!-- .card -->

    </div> <!-- col -->
    <!-- Final da Coluna -->

      <!-- Começo Coluna -->
    <div class="col">

      <!-- Criando Card bootstrap -->
      <div class="card">
        <div class="card-body">
          <img class="img-fluid" src="assets/img/crud.png">
        </div> <!-- .card-body -->
      </div> <!-- .card -->

    </div> <!-- .col -->
    <!-- Final da Coluna -->
</div>
<!-- Final da Linha -->

