<h1 class="my-3 text-primary">Atualizar Produto</h1>

<div class="card shadow">
  <form class="m-3">
    <div class="row">
      <div class="col md-12">

        <div class="form-group">
          <label for="nome">Nome do Produto: </label>
          <input type="text" name="nomeProduto" class="form-control" placeholder="Digite o nome do Produto"
            [(ngModel)]="produto.nome" />
        </div>
        <!--.form-group-->
      </div>
      <!--.col md-12 -->

    </div>
    <!--.row-->

    <div class="row">

      <div class="col-md-6">
        <div class="form-group">
          <label for="validadeProduto">Validade do Produto: </label>
          <input type="date" class="form-control" name="validade" placeholder="Validade do Produto"
          [(ngModel)]="produto.validade" />
        </div>
        <!--.form-group-->
      </div> <!-- col-md-6-->

      <div class="col-md-6">
        <div class="form-group">
          <label for="precoProduto">Preço do Produto: </label>
          <input type="number" class="form-control" placeholder="0.00" name="preco"
          [(ngModel)]="produto.precoProduto" />
        </div>
        <!--.form-group-->
      </div>

    </div>
    <!--.row-->

    <div class="row">
      <div class="col">
        <button class="btn btn-default" routerLink="/produtos">Voltar</button>
        <button class="btn btn-success float-right" (click)="salvarProduto()">Salvar</button>
      </div>
    </div>
    <!--.row-->
  </form>
  <!--.md-3-->
</div>
<!--.card shadow-->
